@charset "UTF-8";

#writeamount {
	position: relavtive;
	margin: 0 auto;
	padding : 40px;
	display: grid;
	place-items: center;
}

#date, #amount {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px rgb(75, 89, 96) solid;
}

#save {
	position: absolute; 
	right: 90px;
}